/.idea
/vendor
/node_modules
/public/build
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/logs
.env
.env.*.local
.phpunit.result.cache
.vscode
/.sass-cache
/.cache
.DS_Store
/public/hot
/resources/js/vendor
/.history/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
